<!DOCTYPE html>
<html lang="en">

<!-- ------------- head ------------------->
<head>
    <title>{{ name }}</title>
    <meta charset="utf-8" />

	<!-- Make website fully responsible --->
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <!-- ---------- CSS ------------------->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
</head>

<!-- ------------- body ------------------->
<body>
<hr>
{% for files in file %}
<h2>{{ files.name }}</h2>
{{ files.text }}
{% endfor %}
<hr>
</body>

</html>